<article class="list-item" itemscope itemtype="http://schema.org/Blog">
  <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
  <div class="meta">
{{ if not .Date.IsZero }}
    <span class="key">veröffentlicht am: </span>
    <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "02.01.2006" }}">{{ .Date.Format "02.01.2006" }}</time> | {{ partial "reading-time.html" . }}</span>
{{ end }}
  </div>
  <section class="summary">
    {{ .Summary }} {{ if .Truncated }} <a href="{{ .RelPermalink }}">Read More...</a>{{ end }}
  </section>
</article>
